<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <h4 class="header2">Endereço</h4>
      <div class="row">
        <%= form_for(@user.address, :url => wizard_path, :method => :put, :class => 'col s12') do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :postal_code, :id => 'postal_code', required: true%>
            <label for="postal_code">Código Postal</label>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :city, :id => 'city', required: true%>
            <label for="city">Cidade</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :street, :id => 'street', required: true%>
            <label for="street">Endereço</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <%= f.text_field :complement, :id => 'complement'%>
            <label for="complement">Complemento</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit 'Próximo', :class => 'btn cyan waves-effect waves-light right'%>
            <%= link_to 'Anterior', previous_wizard_path, :class => 'btn cyan waves-effect waves-light left' %>
            <div class="col s12 center-align">
              <span class="chip">2/3</span> 
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

$('#postal_code').formatter({
  'pattern': '{{99999}}-{{999}}',
  'persistent': true
});

</script>