<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <h4 class="header2">Sobre sua EJ</h4>
      <p>
        <input class="filled-in" id="filled-in-box" checked="checked" type="checkbox">
        <label for="filled-in-box">Federado?</label>
      </p>
      <div class="row">
        <%= form_for(@user, :url => wizard_path, html: {method: :put, class: 'col s12', id:"form_mej"}) do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :federation, :id => 'federation', placeholder: "Federação"%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', placeholder: "Empresa Junior"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :job, :id => 'job', placeholder: "Cargo"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
              <%= f.text_field :university, id: "university", placeholder: "Universidade"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= button_tag(type: 'submit', class: 'btn cyan waves-effect waves-light right') do %>
              Finalizar
            <% end %>
            <%= link_to 'Anterior', previous_wizard_path, :class => 'btn cyan waves-effect waves-light left' %>
            <div class="col s12">
              <span class="chip">3/3</span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
//show it when the checkbox is clicked
$('#filled-in-box').on('click', function () {
  if ($(this).prop('checked')) {
    $('#federation').fadeIn();
  } else {
    $('#federation').hide();
  }
});
$("#form_mej").validate({
   errorElement : 'div',
   errorPlacement: function(error, element) {
     var placement = $(element).data('error');
     if (placement) {
       $(placement).append(error)
     } else {
       error.insertAfter(element);
     }
   }
 });
 $( "#junior_enterprise" ).rules( "add", {
   required: true,
   messages: {
     required: "Entre com o nome de sua EJ"
   }
 });
 $( "#job" ).rules( "add", {
   required: true,
   messages: {
     required: "Diga qual cargo exerce"
   }
 });
 $( "#university" ).rules( "add", {
   required: true,
   messages: {
     required: "Informe a universidade da sua EJ"
   }
 });
</script>
