<h2>Dados pessoais </h2>
<%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= image_tag(@user.avatar_url(:thumb), class:'circle responsive-img valign profile-image') if @user.avatar? %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  <%= f.text_field :name, :placeholder => 'Nome Completo' %>
  <%= f.number_field :general_register, :placeholder => 'Doc. de Identidade' %>
  <%= f.text_field :cpf, :placeholder => 'CPF', input_html: {:"data-mask" => "999-999-9999"}%>
  <%= f.number_field :phone, :placeholder => 'Telefone'%>
  <%= f.date_field :birthday, :placeholder => 'Data de Nascimento' %>
  <%= f.text_field :gender, collection: [:male, :female] %>
  <%= f.text_area :special_needs, as: :text, :placeholder => 'Necessidades especiais' %>
  <%= f.submit 'Next', :class => 'btn btn-primary' %>
<% end %>
