<div class="section center-align">
  <div class="row">
    <div id="preselecting-tab" class="section">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="col s12">
              <ul class="tabs tab-demo-active z-depth-1 blue-grey" style="width: 100%;">
                <li class="tab col s3"><a class="white-text waves-effect waves-light  active" href="#pagseguro"><i class="mdi-action-payment"></i> Pagseguro</a>
                </li>
                <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#boleto"><i class="mdi-action-receipt"></i> Boleto</a>
                </li>
                <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#deposito"><i class="mdi-editor-attach-money"></i> Depósito ou Transferência</a>
                </li>
                <div class="indicator" style="right: 183px; left: 183px;"></div>
              </ul>
              </div>
              <div class="col s12">
                <div id="pagseguro" class="col s12" style="display: block;">
                  <div class="container">
                    <div class="section">
                      <div class="row">
                        <section class="plans-container" id="plans">
                          <article class="col s8 offset-s2" style="align:center; !important">
                            <div class="card hoverable">
                              <div class="card-image blue-grey waves-effect">
                                <div class="card-title"><%= @user.lot.name %></div>
                                <div class="price"><sup>R$</sup><%= @value_pagseguro %><sub></sub></div>
                              </div>
                              <div class="card-action center-align">
                                <%= link_to payment_path, method: :post do %>
                                  <button class="waves-effect waves-light btn"><strong>Pagar</strong></button>
                                <% end %>
                              </div>
                            </div>
                          </article>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="boleto" class="col s12" style="display: none;">
                  <div class="col s8 offset-s2">
                    <div class="container">
                      <div class="section">
                        <div class="row">
                          <section class="plans-container" id="plans">
                            <article class="col s12" style="align:center; !important">
                              <div class="card hoverable">
                                <div class="card-image blue-grey waves-effect">
                                  <div class="card-title"><%= @user.lot.name %></div>
                                  <div class="price"><sup>R$</sup><%= @value_billet %><sub></sub></div>
                                </div>
                                <%= form_tag payment_billet_path do %>
                                  <div class="card-action center-align">
                                    <%= select_tag "option", options_for_select([ "À vista", "Duas vezes", "Três vezes", "Quatro vezes"], "À vista") %>
                                  </div>
                                  <div class="card-action center-align">
                                    <%= button_tag type: 'submit', class: 'waves-effect waves-light btn' do %>
                                      <%= content_tag(:strong, 'Gerar boletos') %>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            </article>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="deposito" class="col s12" style="display: none;">
                  <div class="col s8 offset-s2">
                    <div class="container">
                      <div class="section">
                        <div class="row">
                          <section class="plans-container" id="plans">
                            <article class="col s12" style="align:center; !important">
                              <div class="card hoverable">
                                <div class="card-image blue-grey waves-effect">
                                  <div class="card-title"><%= @user.lot.name %></div>
                                  <div class="price"><sup>R$</sup><%= @value_money %><sub></sub></div>
                                </div>
                                <div class="card-content">
                                  <ul class="collection">
                                    <li> <strong>Nome:</strong> Associação - Associação Cearense de Junior Empresas</li>
                                    <li> <strong>Banco:</strong> Unicred</li>
                                    <li> <strong>Agencia:</strong> 2301</li>
                                    <li> <strong>Conta Corrente:</strong> 21940-1</li>
                                  </ul>
                                </div>
                                <div class="card-action center-align">
                                  <%= form_tag payment_deposit_path do %>
                                    <%= button_tag type: 'submit', class: 'waves-effect waves-light btn' do %>
                                      <%= content_tag(:strong, 'Pagar por depósito ou tranferência') %>
                                    <% end %>
                                  <% end %>
                                </div>
                              </div>
                            </article>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--end container-->
