<div class="section center-align">
  <div class="row center">
    <section class="plans-container" id="plans">
      <article class="col s12 ">
        <div class="card z-depth-1 hoverable">
          <div class="card-image cyan waves-effect">
            <div class="card-title">Pacote Único -
              <% if @user.federation == nil %>
                <%= 'Não federado' %>
              <% else %>
                <%= 'Federado' %>
              <% end %>
            </div>
            <div class="price"><sup>R$</sup><%= @total %></div>
            <div class="price-desc"><%= @lot.name %></div>
          </div>
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item">15 palestras</li>
              <li class="collection-item">Estadia</li>
              <li class="collection-item">Rodas de discussão</li>
              <li class="collection-item">4 dias de evento</li>
            </ul>
          </div>
          <div class="card-action center-align">
            <p>Método de pagamento:</p>
            <%= link_to payment_path, method: :post, target: '_blank', class: 'margin-fix' do %>
              <span class="waves-effect waves-light btn">PagSeguro</span>
            <% end %> <br><br>
            <%= link_to payment_billet_path, target: '_blank', class: 'margin-fix' do %>
              <span class="waves-effect waves-light btn">Boleto</span>
            <% end %>
            <p><sub>OBS: Após escolher um método, este não poderá ser mudado.</sub></p>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
