<div>
  <h4 class="header">Usuários</h4>
  <div class="row">
    <div class="col s12 m8 l9">
      <table id="events_table" class="responsive-table display highlight" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='25'>
        <thead>
            <tr>
              <th data-field="name">Nome</th>
              <th data-field="facilitator">Facilitador</th>
              <th data-field="start">Início</th>
              <th data-field="end">Fim</th>
              <th>Nº de pessoas</th>
              <th data-field="ações">Ações</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
              <th data-field="name">Nome</th>
              <th data-field="facilitator">Facilitador</th>
              <th data-field="start">Início</th>
              <th data-field="end">Fim</th>
              <th>Nº de pessoas</th>
              <th data-field="ações">Ações</th>
            </tr>
        </tfoot>

        <tbody>
          <% if !@events.nil? %>
            <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.name, crew_event_path(event) %></td>
                <td><%= event.facilitator %></td>
                <td><%= event.start.strftime('%Y/%m/%d @ %H:%M') %></td>
                <td><%= event.end.strftime('%Y/%m/%d @ %H:%M') %></td>
                <td><%= "#{event.users.count} / #{event.limit}" %></td>
                <td>
                  <%= link_to "Editar", edit_crew_event_path(event) %>
                  <%= link_to "Excluir", crew_event_path(event), method: :delete, data: { confirm: "Deseja realmente excluir #{event.name}"} %>
                  <%= link_to "Planilha", crew_download_event_users_excel_path(event, format: :xls) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$('#events_table').DataTable();
</script>

