<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: {:class => 'login-form', :id => 'form_login'} ) do |f| %>
        <div class="row">
          <div class="input-field col s12 center">
            <%= image_tag 'logo-almej.png', class: 'responsive-img valign profile-image-login' %>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <%= f.email_field :email, id: 'email', class: 'error', placeholder: 'example@mail.com', autofocus: true %>
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.password_field :password, id:'password', class: 'error', autocomplete: "off", placeholder: 'Senha' %>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? -%>
            <div class="input-field col s12 m12 l12  login-text">
              <%= f.check_box :remember_me, id: 'remember-me' %>
              <label for="remember-me">Lembrar-me</label>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light col s12') do %>
              Entrar
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><%= link_to 'Nova inscrição', new_registration_path(resource_name)%></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></p>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<script type="text/javascript">
$().ready(function() {
  $("#form_login").validate({
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
  $( "#email" ).rules( "add", {
    required: true,
    email: true,
    messages: {
      required: "Preencha com seu email",
      email: "Entre com um email válido"
    }
  });
  $( "#password" ).rules( "add", {
    required: true,
    rangelength: [8,12],
    messages: {
      required: "Entre com sua senha",
      rangelength: "A senha deve conter entre 8 e 12 caracteres"
    }
  });
});
</script>
