<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: {:class => 'login-form', :id => 'form_login'} ) do |f| %>
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">ECEJ 2016</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <%= f.email_field :email, id: 'email', class: 'error', placeholder: 'example@mail.com', autofocus: true %>
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.password_field :password, id:'password', class: 'error', autocomplete: "off", placeholder: 'Senha' %>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? -%>
            <div class="input-field col s12 m12 l12  login-text">
              <%= f.check_box :remember_me, id: 'remember-me' %>
              <label for="remember-me">Lembrar-me</label>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light col s12') do %>
              Entrar
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><%= link_to 'Nova inscrição', new_registration_path(resource_name)%></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></p>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<script>
  $("#form_login").validate({
          rules: {
              email: {
                  required: true,
              },
              password: {
        				required: true,
        				minlength: 6
        			},
              //For custom messages
              messages: {
                  email:{
                      required: "Enter a email",
                  },
              }
           });
</script>
