<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @lot, url: {action: "create"}, method: :post do |f| %>
      <div class="row">
        <div class="col s12 center">
          <p class="center login-form-text">Cadastro de lote</p>
        </div>
      </div>

      <% if @lot.errors.any? %>
        <% @lot.errors.full_messages.each do |msg| %>
          <p class="center"><%= msg %></p>
        <% end %>
      <% end %>
        
      <div class="row margin">
        <div class="col s12 m6 l4">
          <%= f.label :name, "Nome", class: "center-align" %>
          <%= f.text_field :name, id: 'name', autofocus: true %>
        </div>

      
        <div class="col s12 m6 l4">
          <%= f.label :number, "Número", class: "center-align" %>
          <%= f.number_field :number, id: 'number', autofocus: true %>
        </div>

      
        <div class="col s12 m6 l4">
          <%= f.label :limit, "Limite", class: "center-align" %>
          <%= f.number_field :limit, id: 'limit', autofocus: true %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :value_federated, "Valor para federados", class: "center-align" %>
          <%= f.number_field :value_federated, id: 'value_federated', autofocus: true %>
        </div>
      
        <div class="col s12 m6 l4">
          <%= f.label :value_not_federated, "Valor para não federados", class: "center-align" %>
          <%= f.number_field :value_not_federated, id: 'value_not_federated', autofocus: true %>
        </div>
      
        <div class="col s12 m6 l4">
          <%= f.label :start_date, "Data de início", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :start_date, id: 'start_date' %>
        </div>
      
        <div class="col s12 m6 l4">
          <%= f.label :end_date, "Data de término", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :end_date, id: 'end_date' %>
        </div>
      
        <div class="col s12 m6 l4">
          <%= f.label :deadline_1, "Prazo de pagamento primeira parcela", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :deadline_1, id: 'deadline_1' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :deadline_2, "Prazo de pagamento segunda parcela", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :deadline_2, id: 'deadline_2' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :deadline_3, "Prazo de pagamento terceira parcela", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :deadline_3, id: 'deadline_3' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :deadline_4, "Prazo de pagamento quarta parcela", class: "center-align", autofocus: true %><br />
          <%= f.datetime_local_field :deadline_4, id: 'deadline_4' %>
        </div>

        <div class="input-field col s12 m6 l4">
          <%= f.submit "Criar", class: 'btn waves-effect waves-light light-blue darken-1 col s12' %>
        </div>
      </div>

    <% end %>
  </div>
</div>