<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
    	<Row>
      	<Cell><Data ss:Type="String"><%= "#{@date.mday}/#{@date.mon}/#{@date.year}" %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Método</Data></Cell>
        <Cell><Data ss:Type="String">Parcelas</Data></Cell>
        <Cell><Data ss:Type="String">Parcelas pagas</Data></Cell>
        <Cell><Data ss:Type="String">Quantia paga</Data></Cell>
      </Row>
      <% @payments.each do |payment| %>
        <Row>
          <Cell><Data ss:Type="String"><%= payment[:name] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment[:email] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment[:method] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment[:portions] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment[:portion_paid] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= payment[:amount_paid] %></Data></Cell>
        </Row>
      <% end %>
      <Row>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
