<div class="row">
	<%= form_tag "#{crew_generate_xls_path}", format: :xls, method: :get do %>
		<div class="col s12 m4 l3 right-align">
			Filtrar valores:
			<ul>
				<% @possible_columns.each_with_index do |possible_column, index| %>
					<div class="switch input-field s6 <%= 'right-align' if index%2 == 0 %>">
						<%= label_tag possible_column %>
						<%= text_field_tag "selected_values[#{possible_column}]" %>
					</div>					
				<% end %>
			</ul>
		</div>

		<div class="col s12 m4 l3 right-align">
			Filtrar colunas:
			<ul>
				<% @possible_columns.each do |possible_column| %>
					<div class="switch">
						<label>
							<%= label_tag possible_column %>
							<%= check_box_tag "selected_columns[#{possible_column}]" %>
							<span class="lever"></span>
						</label>
						
					</div>					
				<% end %>
			</ul>
		</div>


		<%= submit_tag "Gerar planilha", class: "btn waves-light light-blue darken-1 col s12" %>
	<% end %>
</div>

