<div class="row">
  <!-- <div class="col s12 m12 l3">
    <ul id="task-card" class="collection with-header">
      <li class="collection-header cyan">
        <h4 class="task-card-title">Meus eventos</h4>
      </li>
      <% current_user.events.each do |event| %>
        <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          <input type="checkbox" id="task1">
          <label for="task1" style="text-decoration: none;"><%= event.name %> <a href="#" class="secondary-content"><span class="ultra-small">Today</span></a>
          </label>
          <span class="task-cat teal"><%= event.start %></span>
        </li>
      <% end %>
    </ul>
  </div> -->
  <div class="col s12 m12 l12">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
          <% @days.each_with_index do |day, index| %>
            <li class="tab col s3" style="width: 25%;">
              <a class="active" href="#dia<%= index + 1 %>">
                <%= "Dia #{index +1} - #{day[:date].strftime('%d/%m')}" %>
              </a>
            </li>
          <% end %>
          <div class="indicator" style="right: 224px; left: 0px;"></div>
          <div class="indicator" style="right: 224px; left: 0px;"></div>
        </ul>
      </div>
      <div class="col s12">
        <% @days.each_with_index do |day, index| %>
          <div id="dia<%= index + 1 %>" class="col s12" style="display: block;">
            <ul class="collapsible popout" data-collapsible="accordion">
                <% day[:events].each do |event| %>
                  <li class="">
                    <div class="collapsible-header">
                      <%= event.name %>
                      <i class="mdi-av-timer"></i>
                      <span class="task-cat cyan">
                        <%= "#{event.start.strftime('%H:%M')}  -  #{event.end.strftime('%H:%M')}"%>
                      </span>
                    </div>
                    <div class="collapsible-body" style="display: none;">
                      <p> Facilitador do evento: <%= event.facilitator %> </p>
                      <p> Evento com <%= event.limit %> vagas.</p>
                      <p style="text-align: right;">
                        <% if event.in?(current_user.events) %>
                          <%= link_to exit_event_path(event), class:"btn-floating btn-large waves-effect waves-light red" ,method: :patch do %>
                            <i class="mdi-content-clear tooltipped" data-position="bottom" data-tooltip="Sair desse evento"></i>
                          <% end %>
                        <% else %>
                          <%= link_to enter_event_path(event), class:"btn-floating btn-large waves-effect waves-light green" ,method: :patch do %>
                            <i class="mdi-action-done tooltipped" data-position="bottom" data-tooltip="Entrar nesse evento"></i>
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                  </li>
                <% end %>
                </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>