<div class="row">
  <section class="plans-container" id="plans">
    <% @days.each_with_index do |day, index| %>
      <article class="col s12 m12 l3">
        <div class="card hoverable">
          <div class="card-image cyan waves-effect">
            <div class="card-title">Programação</div>
            <div class="price">
              <%= day[:date].strftime('%d/%m') %>
            </div>
            <div class="price-desc"><%= index + 1 %>º dia de programação</div>
          </div>
          <div class="card-content">
            <ul class="collection">
              <% day[:events].each do |event| %>
                <li class="collection-item">
                  <div><%= "#{event.start.hour}-#{event.end.hour} #{event.name}" %>
                    <% if event.in?(current_user.events) %>
                      <%= link_to exit_event_path(event), class:"secondary-content-off" ,method: :patch do %>
                        <i class="mdi-content-clear tooltipped" data-position="bottom" data-tooltip="Sair desse evento"></i>
                      <% end %>
                    <% else %>
                      <%= link_to enter_event_path(event), class:"secondary-content-on" ,method: :patch do %>
                        <i class="mdi-action-done tooltipped" data-position="bottom" data-tooltip="Entrar nesse evento"></i>
                      <% end %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </article>
    <% end %>
  </section>
</div>
