<div class="row">
  <div class="container">
    <% @days.each_with_index do |day, index| %>
    <div class="custom_tab" id='<%= "day#{index}" %>' style="display:none;">
      <h3 class="center-align header">Eventos no dia <%= day[:date].strftime('%d/%m')%></h3>
      <div class="row">
        <div class="col s12 center-align">
          <div id="card-alert" class="card orange ">
            <div class="card-content white-text">
              <p><i class="mdi-alert-warning"></i> Atenção: Quem se inscrever no DESAFIO CSP no dia 29/04, não poderá se inscrever em nenhuma programação no dia 30/04 entre 09:00 e 10:55 ( O desafio durará dois dias ). Se você se inscrever no DESAFIO CSP no 29/04 e se inscrever em programações que pegam o mesmo horário, você será desclassificado das programações. Por exemplo: Me inscrevi no desafio CSP no dia 29/04 mas me inscrevi na palestra Papo de Almirante no dia 30/04, que pega das 9h as 9:55. Você será desclassificado do Papo de Almirante. Estamos dando prioridade ao Desafio CSP.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <% day[:hours].each do |hour| %>
          <h4><%= "#{hour[:time]}:00" %></h4>
          <div class="row">
            <% hour[:events].each do |event| %>
              <% if hour[:events].count >= 4 %>
                <div class="col s12 m6 l3">
              <% elsif hour[:events].count >= 3 %>
                <div class="col s12 m6 l4">
              <% elsif hour[:events].count < 3 && hour[:events].count > 1%>
                <div class="col s12 m6 l6">
              <% else %>
                <div class="col s12 m12 l12">
              <% end %>
                  <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <%= image_tag(event.facilitator_image_url) %>
                      <% if event.users.include? @user %>
                        <%= link_to exit_event_path(event), method: :patch do %>
                          <div class="chip red white-text custom-chip">
                            <i class="fa fa-sign-out"></i>
                            Sair da programação
                          </div>
                        <% end %>
                      <% else %>
                        <% if event.full? %>
                          <div class="chip red white-text custom-chip">
                            <i class="fa fa-sign-out"></i>
                            LOTADO
                          </div>
                        <% else %>
                          <%= link_to enter_event_path(event), method: :patch do %>
                            <div class="chip green white-text custom-chip">
                              <i class="fa fa-sign-in"></i>
                              Entrar na programação
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                      <div class="chip hour-chip">
                          <%= "#{event.start.strftime('%H:%M')} - #{event.end.strftime('%H:%M')}" %>
                      </div>
                    </div>
                    <div class="card-content">
                      <div class="col s10">
                        <span class="truncate card-title activator grey-text text-darken-4">
                          <%= event.name %>
                          <div class="chip white activator icon-info">
                            <i class="mdi-action-info-outline"></i>
                            Saber mais...
                          </div>
                        </span>
                      </div>
                      <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light blue-grey">
                        <%= "#{event.users.count}/#{event.limit}" %>
                      </a>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">
                        <%= event.name %>
                        <i class="mdi-navigation-close icon-exit"></i>
                      </span>
                      <p>Facilitador: <%= event.facilitator %></p>
                      <p><%= event.description %></p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="col s12">
  <div class="center-align row">
    <% @days.each_with_index do |day, index| %>
    <a class="btn-floating btn-large blue-grey" onclick="showDiv('<%= "day#{index}" %>')">
      <%= day[:date].strftime('%d/%m') %></a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  document.getElementsByClassName("custom_tab")[0].style.display = 'block';

  function showDiv(toggle) {
    var tabs = document.getElementsByClassName("custom_tab");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].style.display = 'none'
    }
    document.getElementById(toggle).style.display = 'block';

    $("html, body").animate({
      scrollTop: 0
    }, "slow");
  }
</script>
