<div class="row">
  <div class="container">
    <% @days.each_with_index do |day, index| %>
    <div class="custom_tab" id='<%= "day#{index}" %>' style="display:none;">
      <h3 class="center-align header">Eventos no dia <%= day[:date].strftime('%d/%m')%></h3>
      <div class="section">
        <% day[:hours].each do |hour| %>
          <h4><%= "#{hour[:time]}:00" %></h4>
          <div class="row">
            <% hour[:events].each do |event| %>
              <div class='<%= "col s12 m#{12/hour[:events].count} l#{12/hour[:events].count}" %>'>
                <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <%= image_tag(event.facilitator_image_url) %>
                    <% if event.users.include? @user %>
                      <%= link_to exit_event_path(event), method: :patch do %>
                        <div class="chip red white-text custom-chip">
                          Sair da programação
                        </div>
                      <% end %>
                    <% else %>
                      <%= link_to enter_event_path(event), method: :patch do %>
                        <div class="chip green white-text custom-chip">
                          Entrar na programação
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= event.name %>
                      <i class="mdi-action-info-outline left"></i>
                    </span>
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light blue-grey">
                      <%= "#{event.users.count}/#{event.limit}" %>
                    </a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= event.name %>
                      <i class="mdi-navigation-close right"></i>
                    </span>
                    <p><%= event.description %></p>
                    <p><i class="fa fa-users"></i><%= event.facilitator %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="col s12">
  <div class="center-align row">
    <% @days.each_with_index do |day, index| %>
    <a class="btn-floating btn-large blue-grey" onclick="showDiv('<%= "day#{index}" %>')">
      <%= day[:date].strftime('%d/%m') %></a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  document.getElementsByClassName("custom_tab")[0].style.display = 'block';

  function showDiv(toggle) {
    var tabs = document.getElementsByClassName("custom_tab");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].style.display = 'none'
    }
    document.getElementById(toggle).style.display = 'block';

    $("html, body").animate({
      scrollTop: 0
    }, "slow");
  }
</script>
