  <div class="row">
        <div class="container">
        <% @days.each_with_index do |day, index| %>
          <div class="custom_tab" id='<%= "day#{index}" %>' style="display:none;">
            <% @days_hours.each_with_index do |day_hours, index| %>
              <% if day_hours[:date] == day[:date].strftime('%d/%m')%>
              <div class="col s6 m4 l3">
                <div class="section">
                  <% day_hours[:hours].each do |hour| %>
                    <h4 style="height:136px;"><%= hour %></h4>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>
            <div class="col s8 m8 l9">
            <% day[:events].each_with_index do |event, i| %>
              <div class="row" style="line-height: <%= 48*event.occurring_hours.first[:hours].count%>px;">
              <% if next_event = day[:events][i+1] %>
                <% if event.start == next_event.start %>
                  <div class="col s6 card-panel center-align" style="position: relative; padding: 20px !important;">
                    <span><%= event.name %></span>
                    <a style="position: absolute; bottom: 10px; right: 10px;" class="btn-floating waves-effect waves-light "><i class="mdi-content-add"></i></a>
                  </div>
                  <div class="col s6 card-panel center-align" style="padding: 20px !important;">
                    <span><%= next_event.name %> - <%= next_event.start %></span>
                  </div>
                <% else %>
                  <div class="card-panel center-align" style="padding: 0px !important;">
                    <span><%= event.name %> - <%= event.start %></span>
                  </div>
                <% end %>
              <% else %>
                  <div class="card-panel center-align" style="padding: 0px !important;">
                    <span><%= event.name %> - <%= event.start %></span>
                  </div>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
        </div>
  </div>
  <div class="col s12">
    <div class="center-align row">
      <% @days.each_with_index do |day, index| %>
        <a class="btn-floating btn-large blue-grey" onclick="showDiv('<%= "day#{index}" %>')"> <%= day[:date].strftime('%d/%m') %></a>
      <% end %>
    </div>
  </div>

<script type="text/javascript">
  document.getElementsByClassName("custom_tab")[0].style.display = 'block';

  function showDiv(toggle){
    var tabs = document.getElementsByClassName("custom_tab");
    for (var i = 0; i < tabs.length; i++) {
      tabs[i].style.display = 'none'
    }
    document.getElementById(toggle).style.display = 'block';
  }
</script>
<!-- 
<div class="row">
  <div class="col s12 m12 l12">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
          <% @days.each_with_index do |day, index| %>
            <li class="tab col s3" style="width: 25%;">
              <a class="active" href="#dia<%= index + 1 %>">
                <%= "Dia #{index +1} - #{day[:date].strftime('%d/%m')}" %>
              </a>
            </li>
          <% end %>
          <div class="indicator" style="right: 224px; left: 0px;"></div>
          <div class="indicator" style="right: 224px; left: 0px;"></div>
        </ul>
      </div>
      <div class="col s12">
        <% @days.each_with_index do |day, index| %>
          <div id="dia<%= index + 1 %>" class="col s12" style="display: block;">
            <ul class="collapsible popout" data-collapsible="accordion">
                <% day[:events].each do |event| %>
                  <li class="">
                    <div class="collapsible-header">
                      <%= event.name %>
                      <i class="mdi-av-timer"></i>
                      <span class="task-cat cyan">
                        <%= "#{event.start.strftime('%H:%M')}  -  #{event.end.strftime('%H:%M')}"%>
                      </span>
                    </div>
                    <div class="collapsible-body" style="display: none;">
                      <p> Facilitador do evento: <%= event.facilitator %> </p>
                      <p> Evento com <%= event.limit %> vagas.</p>
                      <p style="text-align: right;">
                        <% if event.in?(current_user.events) %>
                          <%= link_to exit_event_path(event), class:"btn-floating btn-large waves-effect waves-light red" ,method: :patch do %>
                            <i class="mdi-content-clear tooltipped" data-position="bottom" data-tooltip="Sair desse evento"></i>
                          <% end %>
                        <% else %>
                          <%= link_to enter_event_path(event), class:"btn-floating btn-large waves-effect waves-light green" ,method: :patch do %>
                            <i class="mdi-action-done tooltipped" data-position="bottom" data-tooltip="Entrar nesse evento"></i>
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                  </li>
                <% end %>
              </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> -->