<div>
  <h4 class="header">Usuários</h4>
  <div class="row">
    <div class="col s12 m8 l9">
      <table id="users_table" class="responsive-table display highlight" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='25'>
        <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>EJ</th>
              <th>Editar</th>
              <th>Status do pagamento</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>EJ</th>
                <th>Editar</th>
                <th>Status do pagamento</th>
            </tr>
        </tfoot>

        <tbody>
          <% if !@users.nil? %>
            <% @users.each do |user, payment| %>
              <tr class="<%= "left-red-border" if !user.active %>">
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.junior_enterprise %></td>
                <td><%= link_to "Perfil", edit_crew_user_path(user) %></td>
                <td>
                  <% if !payment.nil? %>
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Status</a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                      <% if payment.boleto?  %>
                        <li><%= link_to "Não pago", crew_change_payment_status_path(payment, 'non paid'), method: :patch %></li>
                        <li><%= link_to "P1 paga", crew_change_payment_method_path(payment, 'boleto', 1), method: :patch %></li>
                        <li><%= link_to "P2 paga", crew_change_payment_method_path(payment, 'boleto', 2), method: :patch %></li>
                        <li><%= link_to "P3 paga", crew_change_payment_method_path(payment, 'boleto', 3), method: :patch %></li>
                        <li><%= link_to "Pago", crew_change_payment_status_path(payment, 'paid'), method: :patch %></li>
                      <% else %>
                        <li><%= link_to "Pago", crew_change_payment_status_path(payment, 'paid'), method: :patch %></li>
                        <li><%= link_to "Não pago", crew_change_payment_status_path(payment, 'non paid'), method: :patch %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    Não selecionou pagamento.
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
