<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <h4 class="header2">Opções</h4>
    <div class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <%= link_to "Ação que o caio vai por", authenticated_user_root_path, class: 'btn waves-effect waves-light' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <%= link_to "Ação que o caio vai por", authenticated_user_root_path, class: 'btn waves-effect waves-light' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <a href="javascript:void(0);" class="dropdown-button btn waves-effect waves-light active" data-activates="actions1-dropdown">Pagamento
              <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id='actions1-dropdown' class='dropdown-content'>
              <% if @payment.boleto?  %>
                <% if @payment.portions == 1 %>
                  <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                  <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                <% elsif @payment.portions == 2 %>
                  <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                  <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                  <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                <% elsif @payment.portions == 3 %>
                  <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                  <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                  <li><%= link_to "P2 paga", crew_set_billet_portion_paid_path(@payment.id, 2), method: :patch %></li>
                  <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                <% elsif @payment.portions == 4 %>
                  <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                  <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                  <li><%= link_to "P2 paga", crew_set_billet_portion_paid_path(@payment.id, 2), method: :patch %></li>
                  <li><%= link_to "P3 paga", crew_set_billet_portion_paid_path(@payment.id, 3), method: :patch %></li>
                  <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                <% end %>
              <% else %>
                <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <a href="javascript:void(0);" class="dropdown-button btn waves-effect waves-light active" data-activates="actions2-dropdown">Mudar método de pagamento para:
              <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id='actions2-dropdown' class='dropdown-content'>
              <li><%= link_to "PagSeguro", crew_change_payment_method_path(@payment, 'pagseguro', 1), method: :patch %></li>
              <li><%= link_to "Depósito/dinheiro", crew_change_payment_method_path(@payment, 'dinheiro', 1), method: :patch %></li>
              <li><%= link_to "Boleto 1 vez", crew_change_payment_method_path(@payment, 'boleto', 1), method: :patch %></li>
              <li><%= link_to "Boleto 2 vezes", crew_change_payment_method_path(@payment, 'boleto', 2), method: :patch %></li>
              <li><%= link_to "Boleto 3 vezes", crew_change_payment_method_path(@payment, 'boleto', 3), method: :patch %></li>
              <li><%= link_to "Boleto 4 vezes", crew_change_payment_method_path(@payment, 'boleto', 4), method: :patch %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @user, url: { action: "update" }, method: :patch do |f| %>
      <div class="row">
        <div class=" col s12 center">
          <p class="center login-form-text">Edição de usuário</p>
        </div>
      </div>
      <div class="row">
        <div class=" col s12 center">
          <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="row margin">
        <!------------------NOME------------------- -->
        <div class=" col s12 m6 l4">
          <%= f.label :name, "Nome", class: "center-align" %>
          <%= f.text_field :name, id: 'name' %>
        </div>
        <!------------------EMAIL------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :email, "Email", class: "center-align" %>
          <%= f.email_field :email, id: 'email' %>
        </div>
        <!------------------CPF------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :cpf, "CPF", class: "center-align" %>
          <%= f.text_field :cpf, id: 'cpf' %>
        </div>
        <!------------------REGISTRO GERAL------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :general_register, "Registro Geral", class: "center-align" %>
          <%= f.text_field :general_register, id: 'general_register' %>
        </div>
        <!------------------DATA DE NASCIMENTO----- -->
        <div class="col s12 m6 l4">
          <%= f.label :birthday, "Data de nascimento", class: "center-align" %>
          <%= f.date_field :birthday, id: 'birthday' %>
        </div>
        <!------------------GENERO------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :birthday, "Gênero", class: "center-align" %>
          <%= select_tag "user[gender]", "<option>Prefiro não declarar</option><option>Masculino</option><option>Feminino</option>".html_safe %>
        </div>
        <!------------------TELEFONE------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :phone, "Telefone", class: "center-align" %>
          <%= f.text_field :phone, id: 'phone' %>
        </div>
        <!------------------FEDERAÇÃO------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :federation, "Federação", class: "center-align" %>
          <%= f.text_field :federation, id: 'federation' %>
        </div>
        <!------------------EMPRESA------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :junior_enterprise, "Empresa Júnior", class: "center-align" %>
          <%= f.text_field :junior_enterprise, id: 'junior_enterprise' %>
        </div>
        <!------------------CARGO------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :job, "Cargo", class: "center-align" %>
          <%= f.text_field :job, id: 'job' %>
        </div>
        <!------------------UNIVERSIDADE------------------- -->
        <div class="col s12 m6 l4">
          <%= f.label :university, "Universidade", class: "center-align" %>
          <%= f.text_field :university, id: 'university' %>
        </div>

        <div class="input-field col s4">
          <%= f.submit "Editar", class: 'btn waves-effect waves-light light-blue darken-1 col s12' %>
          <% if @user.active %>
            <%= link_to "DESQUALIFICAR", crew_user_disqualify_path(@user), class: 'btn waves-effect waves-light red darken-1 col s12', data: { confirm: "Deseja realmente DESQUALIFICAR o usuário?"}, method: :patch %>
          <% else %>
            <%= link_to "REQUALIFICAR", crew_user_requalify_path(@user), class: 'btn waves-effect waves-light green darken-1 col s12', data: { confirm: "Deseja realmente REQUALIFICAR o usuário?"}, method: :patch %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% flash.each do |key, value| %>
      <div id="card-alert" class="card deep-purple">
        <div class="card-content white-text">
          <p><i class="mdi-action-info-outline"></i> <%= value %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
