<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <h4 class="header2">Opções</h4>
    <div class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <%= link_to "Desclassificar usuário", crew_disqualify_user_path(@user), class: 'btn waves-effect waves-light', method: :patch, data: { confirm: "Deseja realmente desclassificar #{@user.name || @user.email}" } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <a href="javascript:void(0);" class="dropdown-button btn waves-effect waves-light active" data-activates="lots-dropdown">Mover usuário para o lote:
              <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id='lots-dropdown' class='dropdown-content'>
              <% @lots.each do |lot| %>
                <% unless @user_lot == lot %>
                  <li><%= link_to lot.name, crew_move_user_to_lot_path(@user, lot.number), method: :patch %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <% if !@payment.nil? %>
              <%= @payment.method %>:
              <% if @payment.boleto? %>
                <%= "#{@payment.portion_paid} / #{@payment.portions}" %>
              <% else %>
                <%= @payment.paid? ? 'Pago' : 'Não pago' %>
              <% end %>
              <a href="javascript:void(0);" class="dropdown-button btn waves-effect waves-light active" data-activates="actions1-dropdown">Pagamento
                <i class="mdi-navigation-arrow-drop-down right"></i>
              </a>
              <ul id='actions1-dropdown' class='dropdown-content'>
                <% if @payment.boleto?  %>
                  <% if @payment.portions == 1 %>
                    <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                    <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                  <% elsif @payment.portions == 2 %>
                    <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                    <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                    <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                  <% elsif @payment.portions == 3 %>
                    <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                    <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                    <li><%= link_to "P2 paga", crew_set_billet_portion_paid_path(@payment.id, 2), method: :patch %></li>
                    <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                  <% elsif @payment.portions == 4 %>
                    <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                    <li><%= link_to "P1 paga", crew_set_billet_portion_paid_path(@payment.id, 1), method: :patch %></li>
                    <li><%= link_to "P2 paga", crew_set_billet_portion_paid_path(@payment.id, 2), method: :patch %></li>
                    <li><%= link_to "P3 paga", crew_set_billet_portion_paid_path(@payment.id, 3), method: :patch %></li>
                    <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to "Pago", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                  <li><%= link_to "Não pago", crew_change_payment_status_path(@payment.id, 'non paid'), method: :patch %></li>
                <% end %>
              <% else %>
                Não há pagamento disponível
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="col s12 center-align">
            <% if !@payment.nil? %>
              <a href="javascript:void(0);" class="dropdown-button btn waves-effect waves-light active" data-activates="actions2-dropdown">Mudar método de pagamento para:
                <i class="mdi-navigation-arrow-drop-down right"></i>
              </a>
              <ul id='actions2-dropdown' class='dropdown-content'>
                <li><%= link_to "PagSeguro", crew_change_payment_method_path(@payment, 'pagseguro', 1), method: :patch %></li>
                <li><%= link_to "Depósito/dinheiro", crew_change_payment_method_path(@payment, 'dinheiro', 1), method: :patch %></li>
                <li><%= link_to "Boleto 1 vez", crew_change_payment_method_path(@payment, 'boleto', 1), method: :patch %></li>
                <li><%= link_to "Boleto 2 vezes", crew_change_payment_method_path(@payment, 'boleto', 2), method: :patch %></li>
                <li><%= link_to "Boleto 3 vezes", crew_change_payment_method_path(@payment, 'boleto', 3), method: :patch %></li>
                <li><%= link_to "Boleto 4 vezes", crew_change_payment_method_path(@payment, 'boleto', 4), method: :patch %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @user, url: { action: "update" }, method: :patch do |f| %>
      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Dados pessoais</h4>
        <div class="row">
          <!----------- PERSONAL INFO ---------->
          <div class="input-field col s12">
            <%= f.text_field :name, :id => 'name', placeholder: 'Nome completo'%>
          </div>

          <div class="input-field col s12">
            <%= f.email_field :email, :id => 'name', placeholder: 'Email'%>
          </div>

          <div class="input-field col s6">
            <%= f.text_field :general_register, :id => 'rg', placeholder: 'Doc. de Identidade'%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :cpf, :id => 'cpf', placeholder: 'CPF'%>
          </div>

          <div class="input-field col s6">
            <%= f.text_field :phone, :id =>'phone', placeholder: 'Telefone celular'%>
          </div>
          <div class="input-field col s6">
            <% if @user.birthday.nil? %>
              <%= f.text_field :birthday, id: 'birthday', placeholder: 'Data de nascimento DD/MM/AAAA' %>
            <% else %>
              <%= f.text_field :birthday, id: 'birthday', placeholder: 'Data de nascimento DD/MM/AAAA', value: @user.birthday.strftime('%d/%m/%Y') %>
            <% end %>
          </div>

          <div class="input-field col s6">
            <div class="select-wrapper initialized"><span class="caret">▼</span>
              <%= f.select :gender, ['Masculino', 'Feminino', 'Prefiro não declarar'], :id =>'gender'%>
            </div>
            <label>Gênero</label>
          </div>

          <div class="input-field col s6">
            <div class="select-wrapper initialized"><span class="caret">▼</span>
              <%= f.select :transport_required, ['Não', 'Sim'], :id =>'transport'%>
            </div>
            <label>Necessita de Translado?</label>
          </div>

          <div class="input-field col s12">
            <%= f.text_area :special_needs, :id => 'special_needs', :class => 'materialize-textarea',:length => '120' %>
            <label for="special_needs">Necessidades especiais</label>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :food_restriction, :id => 'food_restriction', :class => 'materialize-textarea',:length => '120' %>
            <label for="food_restriction">Restrição alimentar</label>
          </div>
        </div>
      </div>
      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Dados do MEJ</h4>
        <div class="row">
          <!-------- MEJ -------->
          <div class="col s2">
            <label for="filled-in-box">EJ Federada?</label>
            <select id="" name="user[federated]">
              <option value="1" <%= 'selected' if @user.is_fed? %> >Sim</option>
              <option value="0" <%= 'selected' if !@user.is_fed? %> >Não</option>
            </select>
          </div>
          <div id="federation_div" class="input-field col s10">
            <%= f.text_field :federation, :id => 'federation', placeholder: "Federação", class:"tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50" %>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', placeholder: "Empresa Junior", class:"tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Pós-júnior, informe sua última EJ."%>
          </div>
          <div class="input-field col s12">
            <%= f.text_field :job, :id => 'job', placeholder: "Cargo"%>
          </div>

          <div class="input-field col s12">
            <%= f.text_field :university, :id => 'university', placeholder: "Universidade"%>
          </div>
        </div>
      </div>
      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Endereço</h4>
        <!--------- Adress info -------->
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :cep, placeholder: "CEP"%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :state, placeholder: "Estado"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <%= f.text_field :city, placeholder: "Cidade"%>
          </div>
          <div class="input-field col s8">
            <%= f.text_field :street, placeholder: "Endereço"%>
          </div>
        </div>
      </div>

      <div class="col s12 z-depth-4 card-panel">
        <div class="row">
          <div class="input-field col s12">
            <div class="col s12 center-align">
              <%= button_tag(type:"submit", class: 'btn waves-effect waves-light') do %>
                <strong>Salvar</strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
