<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @user, url: { action: "create" }, method: :post do |f| %>
      <div class="row">
        <div class=" col s12 center">
          <p class="center login-form-text">Cadastro de usuário</p>
        </div>
      </div>

      <div class="row">
        <div class=" col s12 center">
          <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Dados pessoais</h4>
        <div class="row">
          <!----------- PERSONAL INFO -------->
          <div class="input-field col s12">
            <%= f.text_field :name, :id => 'name', placeholder: 'Nome completo'%>
          </div>

          <div class="input-field col s12">
            <%= f.email_field :email, :id => 'name', placeholder: 'Email'%>
          </div>

          <div class="input-field col s6">
            <%= f.text_field :general_register, :id => 'rg', placeholder: 'Doc. de Identidade'%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :cpf, :id => 'cpf', placeholder: 'CPF'%>
          </div>

          <div class="input-field col s6">
            <%= f.text_field :phone, :id =>'phone', placeholder: 'Telefone celular'%>
          </div>
          <div class="input-field col s6">
            <% if browser.firefox? %>
              <%= f.date_field :birthday, id: 'birthday', placeholder: 'Data de nascimento DD/MM/AAAA' %>
            <% else %>
              <%= f.text_field :birthday, id: 'birthday', placeholder: 'Data de nascimento DD/MM/AAAA' %>
            <% end %>
          </div>

          <div class="input-field col s6">
            <div class="select-wrapper initialized"><span class="caret">▼</span>
              <%= f.select :gender, ['Masculino', 'Feminino', 'Prefiro não declarar'], :id =>'gender'%>
            </div>
            <label>Gênero</label>
          </div>

          <div class="input-field col s6">
            <div class="select-wrapper initialized"><span class="caret">▼</span>
              <%= f.select :transport_required, ['Não', 'Sim'], :id =>'transport'%>
            </div>
            <label>Necessita de Translado?</label>
          </div>

          <div class="input-field col s12">
            <%= f.text_area :special_needs, :id => 'special_needs', :class => 'materialize-textarea',:length => '120' %>
            <label for="special_needs">Necessidades especiais</label>
          </div>
        </div>
      </div>
      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Dados do MEJ</h4>
        <div class="row">
          <!-------- MEJ -------->
          <div class="input-field col s2">
            <input class="filled-in" id="filled-in-box" value="1" name="user[federated]" checked="checked" type="checkbox" >
            <label for="filled-in-box">EJ Federada?</label>
            <%# f.check_box :federated %>
          </div>
          <div id="federation_div" class="input-field col s10">
            <%= f.text_field :federation, :id => 'federation', placeholder: "Federação", class: "", "data-position"=>"bottom" ,"data-delay"=>"50" %>
          </div>

          <div class="input-field col s6">
            <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', placeholder: "Empresa Junior", class:"tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Pós-júnior, informe sua última EJ."%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :job, :id => 'job', placeholder: "Cargo"%>
          </div>

          <div class="input-field col s12 m6">
            <%= f.text_field :university, :id => 'university', placeholder: "Universidade"%>
          </div>
        </div>
      </div>
      <div class="col s12 z-depth-4 card-panel">
        <h4 class="header2">Endereço</h4>
        <!--------- Adress info ------>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :cep, placeholder: "CEP"%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :state, placeholder: "Estado"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <%= f.text_field :city, placeholder: "Cidade"%>
          </div>
          <div class="input-field col s8">
            <%= f.text_field :street, placeholder: "Endereço"%>
          </div>
        </div>
      </div>

      <div class="col s12 z-depth-4 card-panel">
        <div class="row">
          <div class="input-field col s12">
            <div class="col s12 center-align">
              <%= button_tag(type:"submit", class: 'btn waves-effect waves-light') do %>
                <strong>Salvar</strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= notice %></p>
  <p><%= alert %></p>
</div>
