<div class="row">
  <div class="col s2">
    <%= link_to hotels_path, class:"btn-floating btn-large waves-effect waves-light blue-grey" do %>
    <i class="mdi-hardware-keyboard-backspace tooltipped" data-position="bottom" data-tooltip="Voltar">
    </i>
    <% end %>
  </div>

  <div class="col s10">
    <h6 class="center">Planta do hotel</h6>
    <%= image_tag @hotel.blueprint, class: 'col s12 blueprint' %>
  </div>
</div>


<br>
<div class="divider"></div>
<br>

<h4 class="center">Quartos em <%= @hotel.name %></h4>
<ul class="collapsible" data-collapsible="accordion">
  <% @rooms.each do |room| %>
    <li class="row">
      <div class="collapsible-header">
        <!-- Identificação do quarto -->
        <div class="col s11">
          Quarto Nº <%= room.number %>
          <div class="right">
            <%= show_capacity(room) %>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="col s8 offset-s1">
          <%= room.extra_info %>
          <br>
          <!-- Pessoas -->
          <div class="col s12 m10">
            <% room.users.each do |user| %>
              <div class="chip">
                <%= image_tag user.avatar_url %>
                <%= user.two_names %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col s3" data-position="bottom">
          <% if current_user.room == room %>
            <%= link_to exit_room_path(@hotel.id), class:"right btn waves-effect waves-light red darken-3", method: :patch, data: { confirm: "Ao sair do quarto, outra pessoa poderá preencher a vaga." } do %>
              <i class="mdi-av-replay"></i>
            <% end %>
          <% else %>
            <% if room.full? %>
              <a class="right btn waves-light red darken-2"> Fechado</a>
            <% else %>
              <% if current_user.room.nil? %>
                <%= link_to insert_current_user_into_room_path(@hotel.id, room), class:"right btn waves-effect waves-light green darken-3", method: :patch do %>
                  <i class="mdi-action-input"></i>
                <% end %>
              <% else %>
                <%= link_to insert_current_user_into_room_path(@hotel.id, room), class:"right btn waves-effect waves-light green darken-3", method: :patch, data: { confirm: "Ao entrar nesse quarto, você perderá sua vaga no qual você já está inserido." } do %>
                  <i class="mdi-action-input"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% if @rooms.empty? %>
  <div class="divider"></div>
  <br>
  <div class="col s12 center-align">
    <h6 class="red-text darken-1">Nenhum quarto cadastrado para esse hotel.</h6>
  </div>
<% end %>
