<div class="row">
  <div class="col s2">
    <%= link_to hotels_path, class:"btn-floating btn-large waves-effect waves-light blue-grey" do %>
    <i class="mdi-hardware-keyboard-backspace tooltipped" data-position="bottom" data-tooltip="Voltar">
    </i>
    <% end %>
  </div>

  <div class="col s12 m10">
    <h6 class="center">Planta do hotel</h6>
    <%= image_tag @hotel.blueprint, class: 'col s12' %>
  </div>
</div>


<br>
<div class="divider"></div>
<br>

<div class="row">
  <div class="center">
  </div>
</div>

<div class="col s10 center-align">
  <h3>Quartos em <%= @hotel.name %></h3>
</div>

<div class="divider"></div>

<div id="card-widgets">
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col s6 m6 l4">
        <div class="product-card">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <!-- blue-grey base -->
              <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light blue-grey base">nº <%= room.number %></a>
              <%= image_tag @room_image_url %>
            </div>
            <ul class="card-action-buttons">
              <% room.users.each do |user| %>
                <li>
                  <a class="btn-floating tooltipped" data-position="bottom" data-tooltip="<%= "#{user.two_names} | #{user.junior_enterprise}" %>">
                    <%= image_tag(user.avatar_url(:thumb), class:'circle responsive-img valign', width:'250') if user.avatar? %>
                    <%= image_tag('jack-avatar.jpg', class:'circle responsive-img', width:'250') if !user.avatar? %>
                  </a>
                </li>
              <% end %>
              <% for i in 1..(room.capacity - room.users.count) %>
                <li>
                  <a class="btn-floating waves-effect waves-light green accent-4 tooltipped" data-position="bottom" data-tooltip="Vazio"></a>
                </li>
              <% end %>
            </ul>
            <div class="card-content">

              <div class="row">
                <div class="col s8">
                  <p class="card-title grey-text text-darken-4">
                    <a href="#" class="grey-text text-darken-4">
                      <%= room.name %>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-action <%= 'tooltipped' unless room.extra_info.empty? %>" style="text-align: right;" data-position="bottom" data-tooltip="<%= room.extra_info %>">
              <% if current_user.room == room %>
                <%= link_to "Sair", exit_room_path(@hotel.id), class:"btn waves-effect waves-light blue-grey", method: :patch, data: { confirm: "Ao sair do quarto, outra pessoa poderá preencher a vaga." } %>
              <% else %>
                <% if room.full? %>
                  <a class="btn waves-effect waves-light"> Fechado</a>
                <% else %>
                  <% if current_user.room.nil? %>
                    <%= link_to "Entrar", insert_current_user_into_room_path(@hotel.id, room), class:"btn waves-effect waves-light blue-grey", method: :patch %>
                  <% else %>
                    <%= link_to "Entrar", insert_current_user_into_room_path(@hotel.id, room), class:"btn waves-effect waves-light blue-grey", method: :patch, data: { confirm: "Ao entrar nesse quarto, você perderá sua vaga no qual você já está inserido." } %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @rooms.empty? %>
      <div class="col s12 center-align">
        <h6 class="red-text darken-1">Nenhum quarto cadastrado para esse hotel.</h6>
      </div>
    <% end %>
  </div>
</div>
