<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @hotel, url: { action: "create" }, html: { multipart: true }, method: :post do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Cadastro de hotel</p>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 center">
          <% if @hotel.errors.any? %>
            <ul>
              <% @hotel.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>            
          <% end %>
        </div>
      </div>

      <div class="row margin">
        <div class="col s12 m6 l4">
          <%= f.label :name, "Nome", class: "center-align" %>
          <%= f.text_field :name, id: 'name' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :image, "Foto do hotel (Tamanho recomendado: 934x180)", class: "center-align" %>
          <%= f.file_field :image, id: 'image' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :room_image, "Foto do quarto (Tamanho recomendado: 440x330)", class: "center-align" %>
          <%= f.file_field :room_image, id: 'room_image' %>
        </div>

        <div class="col s12 ">
          <%= f.label :extra_info, "Informação adicional", class: "center-align" %>
          <%= f.text_area :extra_info, id: 'extra_info' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.submit "Cadastrar", class: 'btn waves-light light-blue darken-1 col s12' %>
        </div>
      </div>
    <% end %>
    <p><%= notice %></p>
    <p><%= alert %></p>
  </div>
</div>
