<div id="profile-page" class="section">
  <!-- profile-page-header -->
  <div id="profile-page-header" class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/user-profile-bg.png" alt="user background">
    </div>
    <figure class="card-profile-image">
      <%= image_tag(@user.avatar_url(:medium), class:'circle responsive-img valign profile-image') if @user.avatar? %>
    </figure>
    <div class="row">
      <div class="col s3 offset-s2">
        <h4 class="card-title grey-text text-darken-4"><%= @user.name %></h4>
        <p class="medium-small grey-text"><%= @user.junior_enterprise %> - <%= @user.federation %></p>
      </div>
    </div>
  </div>
    <!--/ profile-page-header -->

    <!-- profile-page-content -->
    <div id="profile-page-content" class="row">
      <!-- profile-page-sidebar-->
      <div id="profile-page-sidebar" class="col s12 m4">

        <!-- Profile About Details  -->
        <ul id="profile-page-about-details" class="collection z-depth-1">
          <li class="collection-item">
            <div class="row">
              <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Empresa Jr.</div>
              <div class="col s7 grey-text text-darken-4 right-align"><%= @user.junior_enterprise %></div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Cargo</div>
              <div class="col s7 grey-text text-darken-4 right-align"><%= @user.job %></div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Aniversário</div>
              <div class="col s7 grey-text text-darken-4 right-align"><%= @user.birthday %></div>
            </div>
          </li>
        </ul>
        <!--/ Profile About Details  -->
      </div>
      <!-- profile-page-sidebar-->
      <div id="profile-page-wall" class="col s12 m8">
        <!-- profile-page-wall-share -->
        <div id="profile-page-wall-share" class="row">
          <div class="col s12">
            <div id="card-alert" class="card green">
              <div class="card-content white-text">
                <span class="card-title white-text darken-1"><i class="mdi-social-notifications"></i> Status do pagamento</span>
                <p>Efetuado com sucesso</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
Materialize.toast('Bem vindo, ao Painel de Controle do ECEJ 2016!', 4000)
</script>
