<div id="" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @room, url: {action: "update"}, method: :patch do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Edição de quarto</p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 center">
          <% if @room.errors.any? %>
            <ul>
              <% @room.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="row margin">
        <div class="col s12 m6 l4">
            <%= f.label :hotel, "Hotel", class: "center-align" %>
            <%= select_tag "room[hotel]", options_for_select(@hotels, @hotels.first) %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :number, "Número", class: "center-align" %>
          <%= f.number_field :number, id: 'number' %>
        </div>

        <div class="col s12 m6 l4">
          <%= f.label :capacity, "Capacidade", class: "center-align" %>
          <%= f.number_field :capacity, id: 'capacity' %>
        </div>

        <div class="col s12 ">
          <%= f.label :extra_info, "Informação adicional", class: "center-align" %>
          <%= f.text_area :extra_info, id: 'extra_info' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.submit "Editar", class: 'btn waves-light light-blue darken-1 col s12' %>
        </div>
      </div>
    <% end %>
    <p><%= notice %></p>
    <p><%= alert %></p>
  </div>
</div>

<div>
  <h4 class="header center">Pessoas no quarto</h4>
  <div class="row">
    <% if @users.empty? %>
      <div class="col s12 center">
        <span class="red-text">Nenhuma pessoa neste quarto</span>
      </div>
    <% else %>
      <div class="col s12">
        <div class="center">
          <table id="users_table" class="highlight">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>EJ</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user, payment| %>
                <tr class="<%= "left-red-border" if !user.active %>">
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.junior_enterprise %></td>
                  <td><%= link_to 'Remover do quarto', crew_remove_user_from_room_path(user.id), method: :patch %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
