<div>
  <h4 class="header">Quartos</h4>
  <div class="row">
    <div class="col s12 m8 l9">
      <table id="rooms_table" class="responsive-table display highlight" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='25'>
        <thead>
            <tr>
              <th>Hotel</th>
              <th>Número</th>
              <th>Nome</th>
              <th>Capacidade</th>
              <th>Ações</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
              <th>Hotel</th>
              <th>Número</th>
              <th>Nome</th>
              <th>Capacidade</th>
              <th>Ações</th>
            </tr>
        </tfoot>

        <tbody>
          <% if !@rooms_rows.nil? %>
            <% @rooms_rows.each do |room_row| %>
              <tr>
                <td><%= room_row[:hotel] %></td>
                <td><%= room_row[:room].number %></td>
                <td><%= room_row[:room].name %></td>
                <td><%= "#{room_row[:users].count} / #{room_row[:room].capacity}" %></td>
                <td>
                  <%= link_to "Editar", edit_crew_room_path(room_row[:room]) %>
                  |
                  <%= link_to "Excluir", crew_room_path(room_row[:room]), method: :delete, data: { confirm: "Caso hajam pessoas dentro do quarto, ao excluí-lo, essas pessoas ficarão sem acomodações. Deseja realmente apagar o quarto #{room_row[:room].number} do #{room_row[:hotel]}" } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$('#rooms_table').DataTable();
</script>
