<div class="container">
  <div class="row">            
    <% if !@lots.nil? %>
      <% @lots.each do |lot| %>
        <section class="plans-container" id="plans">
          <article class="col s12 m6 l4">
            <div class="card z-depth-1">
              <div class="card-image light-blue darken-1 waves-effect <%= "darken-4" if lot.is_active? %>">
                <div class="card-title"><%= lot.name %></div>
                <div class="price"><sup>Pessoas</sup><%= lot.users.count %><sub>/<%= lot.limit %><i class="mdi-social-people-outline"></i></sub></div>
                <% if lot.is_active? %>
                  <div class="price-desc">LOTE ATIVO</div>
                <% end %>
              </div>
              <div class="card-content">
                <ul class="collection">
                  <li class="collection-item">Início <b><%= lot.start_date.to_date.strftime("%d/%m/%Y") %></b></li>
                  <li class="collection-item">Fim <b><%= lot.end_date.to_date.strftime("%d/%m/%Y") %></b></li>
                  <li class="collection-item">Para federados <%= number_to_currency(lot.value_federated, unit: "R$",precision: 2, separator: ",") %></li>
                  <li class="collection-item">Para não federados <%= number_to_currency(lot.value_not_federated, unit: "R$",precision: 2, separator: ",") %></li>
                  <li class="collection-item">Prazo p/ primeira parcela <b><%= lot.deadline_1.to_date.strftime("%d/%m/%Y") if !lot.deadline_1.nil? %></b></li>
                  <li class="collection-item">Prazo p/ segunda parcela <b><%= lot.deadline_2.to_date.strftime("%d/%m/%Y") if !lot.deadline_2.nil? %></b></li>
                  <li class="collection-item">Prazo p/ terceira parcela <b><%= lot.deadline_3.to_date.strftime("%d/%m/%Y") if !lot.deadline_3.nil? %></b></li>
                  <li class="collection-item">Prazo p/ quarta parcela <b><%= lot.deadline_4.to_date.strftime("%d/%m/%Y") if !lot.deadline_4.nil? %></b></li>
                </ul>
              </div>
              <div class="card-action center-align">                   
                <%= link_to edit_crew_lot_path(lot) do %>   
                  <button class="waves-effect waves-light light-blue btn">Editar</button>
                <% end %>
              </div>
            </div>
          </article>
        </section>
      <% end %>
    <% end %>
    <div class="col s12">
      <br><br>
      <div class="divider"></div>
    </div>  
  </div>  

  <div class="row">
    <div class="col l6 m6 s12 left-align">
      <%= link_to "Usuários cadastrados: #{@users.count}", crew_users_path, class: "waves-effect waves-light btn light-blue darken-1" %>
    </div>
    <div class="col l6 m6 s12 right-align">
      <%= link_to "Usuários elegíveis para lotes: #{@eligible_users.count}", crew_users_waiting_list_path, class: "waves-effect waves-light btn light-blue darken-1" %>
    </div>
    <div class="col l6 m6 s12 left-align">
      <%= link_to "Usuários desqualificados: #{@disqualified_users.count}", crew_users_disqualified_path, class: "waves-effect waves-light btn light-blue darken-1" %>
    </div>
    <div class="col l6 m6 s12 right-align">
      <%= link_to "Usuários alocados: #{@allocated_users.count}", crew_users_qualified_path, class: "waves-effect waves-light btn light-blue darken-1" %>
    </div>
  </div>
</div>
