<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for @admin, url: {action: "create_admin", :class => 'login-form'}, method: :post do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Cadastro de administrador</p>
        </div>
      </div>
      <!----------------NOME----------- -->
      <div class="row margin">
        <div class="col s12">
          <%= f.label :name, "Nome", class: "center-align" %>
          <%= f.text_field :name, id: 'name', autofocus: true %>
        </div>
      <!----------------EMAIL----------- -->
        <div class="col s12">
          <%= f.label :email, class: "center-align" %>
          <%= f.email_field :email, id: 'email' %>
        </div>
      <!----------------SENHA----------- -->
        <div class="col s12">
          <%= f.label :password, "Senha", class: "center-align" %>
          <%= f.password_field :password, id:'password', autocomplete: "off" %>
        </div>
      <!----------------CONFIRMAÇÃO----------- -->
        <div class="col s12">
          <%= f.label :password, "Senha", class: "center-align" %>
          <%= f.password_field :password_confirmation, id:'password_confirmation', autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field center-align col s12">
          <%= f.submit "Cadastrar", class: 'btn waves-effect waves-light light-blue darken-1 s12 m6 l4 ' %>
        </div>
      </div>

    <% end %>
  </div>
</div>