<!DOCTYPE html>
<html>
<head>
  <title>Área do Usuário</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag   'dashboard', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <%= render "layouts/shared/header" %>

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <%= render "layouts/shared/leftnav" %>
      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <div id="profile-page" class="section">
            <% flash.each do |key, value| %>
              <% if key == 'error' %>
                <div id="card-alert" class="card red lighten-5">
                  <div class="card-content red-text">
                    <p><i class="mdi-alert-error"></i> <%= value %> </p>
                  </div>
                  <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                </div>
              <% elsif key == 'success' %>
                <div id="card-alert" class="card green lighten-5">
                  <div class="card-content green-text">
                    <p><i class="mdi-navigation-check"></i> <%= value %> </p>
                  </div>
                  <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                </div>
              <% elsif key == 'warning' %>
                <div id="card-alert" class="card orange lighten-5">
                  <div class="card-content orange-text">
                    <p><i class="mdi-alert-warning"></i> <%= value %> </p>
                  </div>
                  <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                </div>
              <% else %>
                <div id="card-alert" class="card light-blue lighten-5">
                  <div class="card-content deep-purple-text">
                    <p><i class="mdi-action-info-outline"></i> <%= value %> </p>
                  </div>
                  <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                </div>
              <% end %>
            <% end %>
          <%= yield %>
        </div>
      </section>
    </div>
  </div>
</div>

  <%= render "layouts/shared/footer" %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
</body>
</html>
