<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Login" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="light-blue lighten-1">
  <% flash.each do |key, value| %>
    <script type="text/javascript">
      Materialize.toast('<span><%= value %></span><a class="btn-flat white-text" href="#!"><span aria-hidden="true">×</span><a>', 5000);
    </script>
  <% end %>
  <%= yield %>
</body>
</html>
