<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Login" %></title>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="light-blue lighten-1">
  <%= yield %>
</body>
</html>
