<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit_user_form"}) do |f| %>
  <div class="col s12 z-depth-4 card-panel">
    <h4 class="header2">Dados pessoais</h4>
    <div class="row">
        <!----------- PERSONAL INFO -------->
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name, :id => 'name', required: true, placeholder: 'Nome completo'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :general_register, :id => 'rg', :required => true, placeholder: 'Doc. de Identidade'%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :cpf, :id => 'cpf', :required => true, placeholder: 'CPF'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :phone, :id =>'phone', :required => true, placeholder: 'Telefone celular'%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :birthday, :id =>'birthday', :required => true, placeholder: 'Data de nascimento', class: 'datepicker'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <div class="select-wrapper initialized"><span class="caret">▼</span>
              <%= f.select :gender, ['Masculino', 'Feminino'], :required => true%>
            </div>
            <label>Gênero</label>
          </div>
          <div class="file-field input-field col s6">
            <input class="file-path validate" type="text">
            <div class="btn">
              <span>Foto</span>
              <%= f.file_field :avatar, accept: 'avatar/png, avatar/jpeg'%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :special_needs, :id => 'special_needs', :class => 'materialize-textarea',:length => '120' %>
            <label for="special_needs">Necessidades especiais</label>
          </div>
        </div>
      </div>
    </div>
        <div class="col s12 z-depth-4 card-panel">
          <h4 class="header2">Dados do MEJ</h4>
          <div class="row">
        <!-------- MEJ -------->
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :federation, :id => 'federation', placeholder: "Federação"%>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', required: true, placeholder: "Empresa Junior"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :job, :id => 'job', required: true, placeholder: "Cargo"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
              <%= f.text_field :university, required: true, placeholder: "Universidade"%>
          </div>
        </div>
      </div>
    </div>
        <div class="col s12 z-depth-4 card-panel">
          <h4 class="header2">Endereço</h4>
          <div class="row">
        <!--------- Adress info ------>
        <div class="row">
          <div class="input-field col s6">
            <%= text_field_tag 'postal_code', nil, placeholder: "CEP"%>
          </div>
          <div class="input-field col s6">
            <%= text_field_tag 'city', nil, placeholder: "Cidade"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= text_field_tag 'street', nil, placeholder: "Endereço"%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <%= text_field_tag 'complement', nil, placeholder: "Complemento"%>
          </div>
        </div>
        <%= f.hidden_field :addres, id: "addres" %>
      </div>
    </div>
        <div class="col s12 z-depth-4 card-panel">
          <h4 class="header2">Alterar senha</h4>
          <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, id: "password", autocomplete: "off", :placeholder => 'Nova senha' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password_confirmation, id: "password_confirmation", autocomplete: "off", :placeholder => 'Repita sua nova senha' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :current_password, autocomplete: "off", :placeholder => 'Senha atual' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= button_tag(type:"submit", class: 'btn cyan waves-effect waves-light right') do %>
            Atualizar
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <script type="text/javascript">
  $().ready(function() {
    $("#edit_user_form").validate({
      errorElement : 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });
    $( "#password" ).rules( "add", {
      required: true,
      rangelength: [8,12],
      messages: {
        required: "Entre com sua senha",
        rangelength: "A senha deve conter entre 8 e 12 caracteres"
      }
    });
    $( "#confirm_password" ).rules( "add", {
      required: true,
      rangelength: [8,12],
      equalTo: "#password",
      messages: {
        required: "Entre com sua senha",
        rangelength: "A senha deve conter entre 8 e 12 caracteres",
        equalTo: "As senhas não conferem"
      }
    });
  });
  </script>
