<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit_user"}) do |f| %>
<div class="col s12 z-depth-4 card-panel">
  <h4 class="header2">Foto de Perfil</h4>
  <div class="row">
      <%= f.file_field :avatar, class:"dropify tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Permitidos apenas arquivos .png ou .jpg", 'data-default-file' => @user.avatar_url(:medium) if @user.avatar?%>
  </div>
</div>
<div class="col s12 z-depth-4 card-panel">
  <h4 class="header2">Dados pessoais</h4>
  <div class="row">
    <!----------- PERSONAL INFO -------->
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, :id => 'name', placeholder: 'Nome completo'%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :general_register, :id => 'rg', placeholder: 'Doc. de Identidade'%>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :cpf, :id => 'cpf', placeholder: 'CPF'%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :phone, :id =>'phone', placeholder: 'Telefone celular'%>
      </div>
      <div class="input-field col s6">
          <%= f.date_field :birthday, :id =>'birthday', placeholder: 'Data de nascimento', class: 'datepicker tooltipped', "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Menores de 18 anos, necessitam de autorização dos pais."%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <div class="select-wrapper initialized"><span class="caret">▼</span>
          <%= f.select :gender, ['Masculino', 'Feminino', 'Prefiro não declarar']%>
        </div>
        <label>Gênero</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :special_needs, :id => 'special_needs', :class => 'materialize-textarea',:length => '120' %>
        <label for="special_needs">Necessidades especiais</label>
      </div>
    </div>
  </div>
</div>
<div class="col s12 z-depth-4 card-panel">
  <h4 class="header2">Dados do MEJ</h4>
  <div class="row">
    <!-------- MEJ -------->
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :federation, :id => 'federation', placeholder: "Federação", class:"tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Deixe em branco, em caso de EJ não federada ou Pós-júnior."%>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', placeholder: "Empresa Junior",  class:"tooltipped", "data-position"=>"bottom" ,"data-delay"=>"50", "data-tooltip"=>"Pós-júnior, preencha com os dados de sua antiga EJ."%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :job, :id => 'job', placeholder: "Cargo"%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :university, :id => 'university', placeholder: "Universidade"%>
      </div>
    </div>
  </div>
</div>
<div class="col s12 z-depth-4 card-panel">
  <h4 class="header2">Endereço</h4>
  <div class="row">
    <!--------- Adress info ------>
    <div class="row">
      <div class="input-field col s6">
        <%= text_field_tag 'postal_code', nil, placeholder: "CEP", value: @user.cep %>
      </div>
      <div class="input-field col s6">
        <%= text_field_tag 'city', nil, placeholder: "Cidade", value: @user.city %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag 'street', nil, placeholder: "Endereço", value: @user.street %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag 'complement', nil, placeholder: "Complemento", value: @user.complement %>
      </div>
    </div>
    <%= f.hidden_field :addres, id: "addres" %>
  </div>
</div>
<div class="col s12 z-depth-4 card-panel">
  <div class="row">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <div class="input-field col s12">
      <div class="col s12 center-align">
        <%= button_tag(type:"submit", class: 'btn waves-effect waves-light') do %>
          Salvar
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div class="col s12 center-align">
          <%= link_to "Alterar Senha", password_edit_path, class: 'btn waves-effect waves-light' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
