<div class="col s12 z-depth-4 card-panel">
  <%= form_for(resource, as: resource_name, url: senha_path(resource_name),  html: { id: "edit_password_form", method: :put }) do |f| %>
    <div class="row">
      <div class="input-field col s12 center">
        <p class="center login-form-text">Modifique sua senha</p>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <%= f.password_field :password, autofocus: true, placeholder: "Nova Senha" ,autocomplete: "off", id: 'new_password' %>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password_confirmation, placeholder: "Confirme sua nova senha", autocomplete: "off", id:'new_confirm_password' %>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <%= f.password_field :current_password, id:'current_password', class: 'error', autocomplete: "off", placeholder: 'Senha Atual' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light col s12') do %>
          Modificar senha
        <% end %>
      </div>
    </div>
  <% end %>
</div>
