<% @title="Inscrição" %>
<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { class:'login-form', method: :post }) do |f| %>
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Inscrição ECEJ 2016</h4>
            <p class="center">Inscreva-se agora!</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <%= f.email_field :email, autofocus: true,  required: true%>
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.password_field :password, autocomplete: "off", required: true %>
            <label for="password">Senha</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
            <label for="password-again">Repita a senha</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light col s12') do %>
              Enviar inscrição
            <% end %>
          </div>
          <div class="col s12 center-align">
            <%= render "devise/shared/links" %>
            <%= link_to "Voltar", :back %>
          </div>
        </div>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <p>
              Confirme sua inscrição para garantir sua vaga ou entrar na fila de espera. Você receberá um email para que seu cadastro seja concluido.
            </p>
          </div>
          <div class="modal-footer">
            <%= f.submit "OK", class:'btn waves-effect waves-light col s12'%>
          </div>
        </div>

      <% end %>
    </div>
  </div>
